@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin reset-list-style {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin intro-title-font-style {
  font-size: 27px;
  font-weight: bold;
  color: black;

  line-height: 30px;
}

@mixin title-font-style {
  font-size: 25px;
  font-weight: bold;
  color: black;

  line-height: 30px;
}

@mixin text-style {
  font-size: 15px;
  color: $text-color;
}
