html,
body {
  //width: 320px;
  width: 768px;
  margin: 0 auto;

  background-color: grey;//$bg-white;

  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}



.btn {
  display: block;

  box-sizing: border-box;

  height: 52px;

  background-color: white;
  border: 2px solid $text-color;

  line-height: 52px;
  font-size: 18px;
  font-weight: bold;
  color: $text-color;

  text-align: center;

  &:hover,
  &:active {
    background-color: $text-color;
    border: none;

    color: white;
  }

  &:active {
    color: rgba(white, 0.3);
  }

}
