$page-header-height: 80px;

.page-header {
  background-color: $bg-white;

  box-sizing: border-box;
  border-top: $border-style;
  border-bottom: $border-style;
}

.page-header__logo {
  display: flex;

  height: $page-header-height;

  justify-content: center;
  align-items: center;
}

//Start tablet styles
@media #{$tablet-widths} {

  .page-header {
    max-height: 89px;
    height: 89px;

    //background-color: $bg-white;
  }

  .page-header__wrapper {
    @include container-fluid();

    display: flex;

    padding: 0 50px;
  }

  .page-header__logo {

  }
}
//End tablet styles
