@mixin page-intro__nav-item-style($up-color, $over-color, $down-color, $icon-url) {
  background-color: $up-color;

  &::after {
    content: "";

    display: block;
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-image: url($icon-url);
    background-repeat: no-repeat;
    background-position: 90% center;

    opacity: 0.5;
  }

  &:hover {
    background-color: $over-color;

    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    background-color: $down-color;

    color: rgba(white, 0.3);
    &::after {
      opacity: 0.3;
    }
  }
}

.page-intro {
  text-align: center;
}

.page-intro__wrapper {

}

.page-intro__title-container {
  background-color: #f1f1f1;

  &--index {
    height: 282px;
    line-height: 282px;

    background-image: url("/img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}


.page-intro__title {
  display: inline-block;
  margin: 0 30px;

  vertical-align: middle;

  @include intro-title-font-style;
}


.page-intro__nav {

}

.page-intro__nav-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-intro__nav-item {
  display: block;
}

.page-intro__nav-link {
  display: block;
  position: relative;

  height: 103px;

  padding-left: 30px;

  font-size: 20px;
  font-weight: bold;
  color: white;

  text-align: left;
  line-height: 24px;

  &--interior {
    @include page-intro__nav-item-style(#63d1bb, #59d5bc, #59d5bc, "/img/icon-interior.svg");
  }

  &--toys {
    @include page-intro__nav-item-style(#56c3b2, #46c1ae, #46c1ae, "/img/icon-toy.svg");
  }
}
