@mixin social-link-icon-url($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-link {
  display: inline-block;

  width: 45px;
  height:  45px;

  margin-right: 10px;

  text-indent: -9999px;

  vertical-align: middle;

  &--in {
    @include social-link-icon-url("../img/icon-insta.svg");
  }

  &--fb {
    @include social-link-icon-url("../img/icon-fb.svg");
  }

  &--tw {
    @include social-link-icon-url("../img/icon-twitter.svg");
  }

}
